<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="KOSMO team2">
    <title>Project5_team2</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
</head>
<body>
    <div id="header">
            <div class="container">
                <div class="header">
                    <div class="header-menu">
                        <div class="header-logo-img">
                            <a href='../'><img src="/static/img/fd_logo200.png"></a>
                        </div>
                        <div class="header-btn">
                            {% if request.session.login_ok_user %}
                            <button class="btn btn-outline-info btn-sm" type="submit" id="infoMButton" onclick="location.href = '../logout' ">
                                로그아웃</button>
		                    {% else %}
                            <button class="btn btn-outline-info btn-sm" type="submit" id="loginButton" onclick="location.href = '../login' ">
                                로그인</button>
                            <button class="btn btn-outline-info btn-sm" type="submit" id="signupButton" onclick="location.href = '../signup' ">
                                회원가입</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
        <div id="contents">
            <div id="cont_nav">
                <nav>
                <div class="container">
                    <ul>
                    <li><a href="../search">병원찾기<i class='fa fa-angle-down'></i></a>
                        <ul>
                            <li><a href="../search">세부 조건별 찾기</a></li>
                            <li><a href="../map">지도에서 찾기</a></li>
                        </ul>
                        <li><a href="../review">병원후기</a></li>
                        <li> <a href="../healthinfo">건강정보</a></li>
                        <li> <a href="../event">이벤트</a></li>
                        
                        {% if request.session.login_ok_user %}
                        <li> <a href="../mypage">마이페이지</a></li>
                        {% else %}
                        <li><a href="./" onclick="alert('로그인 회원만 이용가능!')">마이페이지</a></li>
                        {% endif %}

                    </ul>
                </div>
                </nav>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script>
        $('nav li').hover(
            function() {
                $('ul', this).stop().slideDown(200);
            },
            function() {
                $('ul', this).stop().slideUp(200);
            }
        );
        </script>
        {% block contents %}
        {% endblock contents %}
        <footer class="footer bg-dark">
            <div id="footer_logo"><img src="\static\img\fd_logo_gray200.png"></div>
            <div class="text-white" id="footer_text">
                   <span class="copyright"><b></b>2022-08-22 | PROJECT Find Doctor Made by Team2 </span><br/>
                <span class="teamLeader"><b>조장</b> | 장윤선</span>
                <span class="teamLeader2"><b>부조장</b> | 이재용</span>
                <span class="teamMem"><b>조원</b> | 송찬호 박상익 김지수</span><br/>
                <span class="copyright">Copyright©.2022.Team2.All Rights Reserved.</span>
            </div>
        </footer>
</body>