<!DOCTYPE html>
<html lang="ko">
{% extends 'header.html' %}
{% block contents %}
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css">
    <style>
        #contents {width: 100%; height: 80px; background: #fff; display: flex;}
        #cont_cont {width: 53%; height: 100%; background: #dceff7;margin:0 auto;}
        #cont_tit {width: 80%; height: 100px; background: #444;margin:0 auto;text-align: center}
		.vertical_tab {float:left; width:11%; }
		#cont_cont .container {width: 100%; margin: 0 auto; }
		.cont {height : 100%;}
		#tab-jan {width:100%; height:100%; margin:0px;}

		.month-content{
			display: none;
			background: #ffff;
			color: #222;
			padding: 12px;
		}
		.month-content.current{
			display: inherit;	
		}
		.month-tab {
            margin-top : 2%;
			margin-bottom: 2%;
		}

		summary {
			cursor: pointer;
		  }
		
        #tab-2 img{
        vertical-align:top;
        }
        
        p{
        display:inline-block;
        }
        a:link, a:visited, a:hover, a:active {text-decoration: none;}
    </style>
</head>
<body>
    <div class ="vertical_tab">
        <ul class="nav nav-pills nav-stacked">
            <h1><li class="nav-header">건강정보</li></h1>
            <p class="eng_comment">Healthy information</p>
            <li class="calender active" data-tab="tab-1"><a href="#calender" data-toggle="pill" >건강캘린더</a></li>
            <li class="site" data-tab="tab-2"><a href="#site" data-toggle="pill">관련 사이트</a></li>
        </ul>
    </div>
    <form name="healthinfo" action="healthinfo" method="post">
        {% csrf_token %}
    <div id="cont_cont">
        <div class="container">
            <div class="cont">
                <div id="tab-1" class="tab-content current">
                    <ul class="nav nav-pills">
                        <li class="tab-month active" data-tab="tab-jan"><a href="#jan" data-toggle="pill">1월</a></li>
                        <li class="tab-month" data-tab="tab-feb"><a href="#feb" data-toggle="pill" >2월</a></li>
                        <li class="tab-month" data-tab="tab-mar"><a href="#mar" data-toggle="pill" >3월</a></li>
                        <li class="tab-month" data-tab="tab-apr"><a href="#apr" data-toggle="pill" >4월</a></li>
                        <li class="tab-month" data-tab="tab-may"><a href="#may" data-toggle="pill" >5월</a></li>
                        <li class="tab-month" data-tab="tab-jun"><a href="#jun" data-toggle="pill" >6월</a></li>
                        <li class="tab-month" data-tab="tab-jul"><a href="#jul" data-toggle="pill" >7월</a></li>
                        <li class="tab-month" data-tab="tab-aug"><a href="#aug" data-toggle="pill" >8월</a></li>
                        <li class="tab-month" data-tab="tab-sep"><a href="#sep" data-toggle="pill" >9월</a></li>
                        <li class="tab-month" data-tab="tab-oct"><a href="#oct" data-toggle="pill" >10월</a></li>
                        <li class="tab-month" data-tab="tab-nov"><a href="#nov" data-toggle="pill" >11월</a></li>
                        <li class="tab-month" data-tab="tab-dec"><a href="#dec" data-toggle="pill" >12월</a></li>
                    </ul>
                </div>
                <div id="tab-2" class="tab-content">
                    <ul>
                        <li><a href="https://www.mfds.go.kr/index.do"><img src="https://www.g-health.kr/images/common/symbol02.gif"></a>
                        <p>
                        <a href="https://www.mfds.go.kr/index.do">식품 의약품 안전처</a><br><br>
                            소비자를 위한 의약품 정보<br>
                            일상 생활에서 약을 복용할 때 주의해야 할 사항과 함께 연령별 / 질환별 의약품 사용정보가 제공됩니다.</p>
                        </li><br>
                        <li><a href="https://www.nhis.or.kr/nhis/index.do"><img src="https://www.g-health.kr/images/common/symbol03.gif"></a>
                        <p><a href="https://www.nhis.or.kr/nhis/index.do">건강in</a><br><br>
                                의약품 정보 검색<br>
                        의약품검색, 제품식별검색, 상호작용 등 개별 약물에 대한 상세 정보를 검색할 수 있습니다.</p>
                        </li><br>
                        <li><a href="http://www.foodsafetykorea.go.kr/"><img src="https://www.g-health.kr/images/common/symbol04.gif"></a>
                        <p><a href="http://www.foodsafetykorea.go.kr/">식품나라</a><br><br>
                            (1)식생활 정보<br>
                            임신부, 영유아, 어린이, 청소년, 성인, 노인 등에 대한 맞춤형 식생활정보와 식품안전에 대한 정보가 제공됩니다.<br><br>
                            (2)건강기능식품<br>
                            건강기능식품의 섭취량, 섭취방법, 섭취 시 주의사항, 국내외제품에 대한 검색 등 건강기능식품에 대한 정보를 제공합니다.
                        </p>
                        </li><br>
                        <li><a href="http://www.nrc.go.kr/nrc/main.do"><img src="https://www.g-health.kr/images/common/symbol05.gif"></a>
                        <p><a href="http://www.nrc.go.kr/nrc/main.do">국립재활원</a><br><br>
                            장애인 재활정보<br>
                            장애인 복지제도, 교육·취업, 재활의학정보, 전국 재활병원 안내 대한 정보를 제공합니다.</p>
                        </li><br>
                    </ul>
                </div>
	        </div>
<div id="tab-1" class="month-tab">
    <div id="tab-jan" class="month-content current" style="white-space:pre-line;">
        <ul>
            {% for i in dt1 %}
        <details>
            <summary><li>{{i.제목}}</li></summary><br>
            <li>{{i.내용}}</li><br>
        </details><br><br>
            {% endfor %}
        </ul>
    </div>
    <div id="tab-feb" class="month-content" style="white-space:pre-line;">
        <ul>
            {% for i in dt2 %}
            <details>
                <summary><li>{{i.제목}}</li></summary><br>
                <li>{{i.내용}}</li><br>
            </details><br><br>
            {% endfor %}
        </ul>
    </div>
    <div id="tab-mar" class="month-content" style="white-space:pre-line;">
        <ul>
            {% for i in dt3 %}
            <details>
                <summary><li>{{i.제목}}</li></summary><br>
                <li>{{i.내용}}</li><br>
            </details><br><br>
            {% endfor %}
        </ul>
    </div>
    <div id="tab-apr" class="month-content" style="white-space:pre-line;">
        <ul>
            {% for i in dt4 %}
            <details>
                <summary><li>{{i.제목}}</li></summary><br>
                <li>{{i.내용}}</li><br>
            </details><br><br>
            {% endfor %}
        </ul>
    </div>
    <div id="tab-may" class="month-content" style="white-space:pre-line;">
        <ul>
            {% for i in dt5 %}
            <details>
                <summary><li>{{i.제목}}</li></summary><br>
                <li>{{i.내용}}</li><br>
            </details><br><br>
            {% endfor %}
        </ul>
    </div>
    <div id="tab-jun" class="month-content" style="white-space:pre-line;">
        <ul>
            {% for i in dt6 %}
            <details>
                <summary><li>{{i.제목}}</li></summary><br>
                <li>{{i.내용}}</li><br>
            </details><br><br>
            {% endfor %}
        </ul>
    </div>
    <div id="tab-jul" class="month-content" style="white-space:pre-line;">
        <ul>
            {% for i in dt7 %}
            <details>
                <summary><li>{{i.제목}}</li></summary><br>
                <li>{{i.내용}}</li><br>
            </details><br><br>
            {% endfor %}
        </ul>
    </div>
    <div id="tab-aug" class="month-content" style="white-space:pre-line;">
        <ul>
            {% for i in dt8 %}
            <details>
                <summary><li>{{i.제목}}</li></summary><br>
                <li>{{i.내용}}</li><br>
            </details><br><br>
            {% endfor %}
        </ul>
    </div>
    <div id="tab-sep" class="month-content" style="white-space:pre-line;">
        <ul>
            {% for i in dt9 %}
            <details>
                <summary><li>{{i.제목}}</li></summary><br>
                <li>{{i.내용}}</li><br>
            </details><br><br>
            {% endfor %}
        </ul>
    </div>
    <div id="tab-oct" class="month-content" style="white-space:pre-line;">
        <ul>
            {% for i in dt10 %}
            <details>
                <summary><li>{{i.제목}}</li></summary><br>
                <li>{{i.내용}}</li><br>
            </details><br><br>
            {% endfor %}
        </ul>
    </div>
    <div id="tab-nov" class="month-content" style="white-space:pre-line;">
        <ul>
            {% for i in dt11 %}
            <details>
                <summary><li>{{i.제목}}</li></summary><br>
                <li>{{i.내용}}</li><br>
            </details><br><br>
            {% endfor %}
        </ul>
    </div>
    <div id="tab-dec" class="month-content" style="white-space:pre-line;">
        <ul>
            {% for i in dt12 %}
            <details>
                <summary><li>{{i.제목}}</li></summary><br>
                <li>{{i.내용}}</li><br>
            </details><br><br>
            {% endfor %}
        </ul>
    </div>
</div>
</div>
</div>
    </form>
    <script>
        $(document).ready(function(){
            $('.vertical_tab ul li').click(function(){
                var tab_id = $(this).attr('data-tab');

                $('.vertical_tab ul li').removeClass('active');
                $('.tab-content').removeClass('current');
                $('.month-content').removeClass('current');

                $(this).addClass('active');
                $("#"+tab_id).addClass('current');
            })
        });
        $(document).ready(function(){
            $('.cont #tab-1 ul li').click(function(){
                var tab_id = $(this).attr('data-tab');

                $('.cont ul li').removeClass('active');
                $('.month-content').removeClass('current');

                $(this).addClass('active');
                $("#"+tab_id).addClass('current');
            })
        });
        {% comment %} $('.cont #tab-1 ul li').on('click', function(e) {
			if($(this).parent('#tab-1').length > 0) {
				console.log("상위 li");
			} else {
				var p = {value : $(this).val()};
				$.get("/team2app/healthinfo/", p, function(data){});
			}
		}) {% endcomment %}
        
    </script>
{% endblock contents %}
</body>
</html>