<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="KOSMO team2">
    <title>team2app</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <style>
        a:link, a:visited, a:hover, a:active {text-decoration: none;}
    </style>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <div class="container">
                <div class="header">
                    <div class="header-menu">
                        {% if request.session.login_ok_user %}
			                <a href="logout">로그아웃</a>
		                {% else %}
			                <a href="login">로그인</a>
                            <a href='signup'> 회원가입 </a>
		                {% endif %}
                    </div>
                    <div id="header-title">
                        <center><a href=""><h1>닥터파인</h1></a></center>
                    </div>
                </div>
            </div>
        </div>

        <div id="contents">
            <div id="cont_nav">
                <nav>
                <div class="container">
                    <ul>
                    <li><a href="search">병원/약국<i class='fa fa-angle-down'></i></a>
                        <ul>
                            <li><a href="search">세부 조건별 찾기</a></li>
                            <li><a href="map">지도에서 찾기</a></li>
                        </ul>
                    <li><a href="review">병원후기</a></li>
                    <li> <a href="healthinfo">건강정보</a></li>
                    <li> <a href="event">이벤트</a></li>
                    {% if request.session.login_ok_user %}                                
                    <li> <a href="mypage">마이페이지</a></li>
                    {% else %}
                    <li> <a href="./" onclick="alert('로그인 회원만 이용가능!')">마이페이지</a></li>
                    {% endif %}
                    </ul>
                </div>
                </nav>
            </div>
            {% load static%}
            <div id="cont_ban">
                <div class="ban">
                    <ul>
                    {% comment %} <li class="ban_img1"><a href="#"><img src="/static/img/buttonl.png" alt="샘플 이미지1"></a></li> {% endcomment %}
                    <li class="ban_img2"><img src="/static/img/sunsetcity.gif" alt="샘플 이미지2" style="width: 100%; height:400px;"></li>
                    {% comment %} <li class="ban_img3"><a href="#"><img src="/static/img/buttonr.png" alt="샘플 이미지3"></a></li> {% endcomment %}
                    </ul>
                </div>
            </div>
            <div class="search_box">
                <input id="search" type ="text">
                <button>검색</button>
            </div>
            <div id="cont_cont">
                <div class="container">
                    <div class="cont">
                        <div class="column col1">
                            <ul class="tabs">
                                <li class="tab-link current" data-tab="tab-1">공지사항</li>
                                <li class="tab-link" data-tab="tab-2">이달의 건강정보</li>
                                <li class="tab-link" data-tab="tab-3">최신 리뷰</li>
                                <li class="tab-link" data-tab="tab-4">최신 이벤트</li>
                            </ul>
                            <div id="tab-1" class="tab-content current">
                                <ul>
                                    <div class="main-current">
                                        <img src="/static/img/left3.png" style="width:10%; height:10%">
                                        가장 처음 나올 큰 목록1.

                                    </div>
                                    <li>첫 번째 공지사항 탭 메뉴 테스트 목록입니다. 첫 번째 공지사항 탭 메뉴 테스트 목록입니다.</li>
                                    <li>첫 번째 공지사항 탭 메뉴 테스트 목록입니다. 첫 번째 공지사항 탭 메뉴 테스트 목록입니다.</li>
                                    <li>첫 번째 공지사항 탭 메뉴 테스트 목록입니다. 첫 번째 공지사항 탭 메뉴 테스트 목록입니다.</li>
                                </ul>
                            </div>
                            <div id="tab-2" class="tab-content">
                                <ul>
                                    <div class="main-current">
                                        <img src="/static/img/left3.png" style="width:10%; height:10%" id="monthinfo">
                                        <span style = "font-size:0.8em;">{{infoheadline}}</span>   
                                    </div>
                                    {% for i in indtdt%}
                                    <li>{{i.제목}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div id="tab-3" class="tab-content">
                                <ul>
                                    <div class="main-current">
                                        <img src="/static/img/left3.png" style="width:10%; height:10%">
                                        <span style = "font-size:0.8em;">
                                        {{reviewheadline}}
                                    </span>
                                    </div>
                                    <li>{{review1}}</li>
                                    <li>{{review2}}</li>
                                    <li>{{review3}}</li>
                                </ul>
                            </div>
                            <div id="tab-4" class="tab-content">
                                <ul>
                                    <div class="main-current">
                                        <img src="/static/img/left3.png" style="width:10%; height:10%">
                                        <span style = "font-size:0.8em;">
                                            {{eventheadline}}
                                        </span>
                                    </div>
                                    <li>{{event1}}</li>
                                    <li>{{event2}}</li>
                                    <li>{{event3}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="column col2">
                            <table border="1">
                            <th width="200">고양이</th>
                            <tr><td height="300"><img src="/static/img/left3.png"></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        
            <div id="footer">
                <div class="container">footer</div>
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $('nav li').hover(
            function() {
                $('ul', this).stop().slideDown(200);
            },
            function() {
                $('ul', this).stop().slideUp(200);
            }
        );
    </script>
    <script>
        $(document).ready(function(){

            $('ul.tabs li').click(function(){
                var tab_id = $(this).attr('data-tab');

                $('ul.tabs li').removeClass('current');
                $('.tab-content').removeClass('current');

                $(this).addClass('current');
                $("#"+tab_id).addClass('current');
            })

        });
    </script>
</body>
</html>