<!DOCTYPE html>
<html lang="ko">
{% extends 'header.html' %}
{% block contents %}
<head>
    <style>
        
        #contents {width: 100%; height: 80px; background: #222; display: flex;}
        #cont_cont {width: 80%; height: 500px; background: #666;margin:0 auto;}
        #cont_tit {width: 80%; height: 100px; background: #444;margin:0 auto;text-align: center}

    </style>
</head>
<body>
    <div id="cont_tit">
        <h2>병원 후기</h2>
    </div>
    <div id="cont_cont">
        <div class="container">
        </div>
    </div>

{% endblock contents %}
</body>