<!DOCTYPE html>
<html lang="ko">
{% extends 'header.html' %}
{% block contents %}
<head>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">  
   <style>  
      .write{
         padding:1rem;
         margin:0px auto;
         margin-top:2rem;
         margin-bottom:4rem;
         border-left:8px solid #0dcaf0;
      }
      table{
         border:1px solid #e6e6e6;
      }
      .table-striped > tbody > tr:nth-child(2n+1) > th,
      .table-striped > tbody > tr:nth-child(2n+1) > td {
         background-color: #f2f7f7;
      }
      a:link, a:visited, a:hover, a:active {text-decoration: none;}
   </style>

<body>
   <div id="cont_cont">
      <div class="container" role="main">
			<div class="write"><h2><b>게시물 작성</b></h2></div>
         <form class="f" name="f" action="rwrite_ok/" method="post">
            {% csrf_token %}
            <div class="table table-responsive">
               <table class="table table-striped table table-bordered">
            <tr>
                <td>작성자</td>
                <td><input type="text"  class="form-control" name="writer"></td>
            </tr>
            <tr>
                <td>제목</td>
                <td><input type="text"  class="form-control" name="subject" placeholder="제목을 입력해 주세요"></td>
            </tr>
            <tr>
                <td>병원명</td>
                <td><input type="text"  class="form-control" name="hosname" placeholder="병원명을 입력해 주세요"></td>
            </tr>
            
            <tr>
               <td>평가</td>
               <td><input type="text" name = "rating">
                 {% comment %} <select class="form-select form-select-sm" name="rating">
                    <option selected>별점 선택</option>
                    <option value="5">★★★★★</option>
                    <option value="4">★★★★☆</option>
                    <option value="3">★★★☆☆</option>
                    <option value="2">★★☆☆☆</option>
                    <option value="1">★☆☆☆☆</option>
                 </select> {% endcomment %}
              </td>
            </tr>
            <tr>
               <td>글내용</td>
               <td><textarea rows="10" cols="50" name="content" class="form-control"></textarea></td>
            </tr>
            </table>
            <div class="btn">
               <button type="submit" class="btn btn-outline-info btn-lg" id="listButton" type="submit">목록</button>	
               <button type="submit" class="btn btn-info btn-lg" id="saveButton">저장</button>	
            </div>
         </form>
		</div>
   </div>

{% endblock contents %}
</body>
</html>