<!DOCTYPE html>
<html lang="ko">
{% extends 'header.html' %}
{% block contents %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">  
    <style>  
        #contents {width: 100%; height: 80px; background: none; display: flex;}
        #cont_cont {width: 80%; height: 1000px; background: #d0e2f7;margin:0 auto;}
        #cont_tit {width: 100%; height: 100px; background: #d0e2f7;margin:0 auto;text-align: center}
        #footer {width: 100%; height: 150px; background: #333;}
        h2{padding: 30px 0px 0px 0px;}
        a:link, a:visited, a:hover, a:active {text-decoration: none;} 
    </style>
</head>
<body>
   <div id="cont_tit">
      <h2>글쓰기</h2>
   </div>
   <div id="cont_cont">
      <div class="container">
      내용물~~ 여기에 만드시면 돼요!


      </div>
   </div>
   <div id="footer">
   <div class="container">footer</div>
   </div>

{% endblock contents %}
</body>